.home-container{
    font-family: 'Poppins';
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 10%;
    background-color: white;
    border-radius: 5px;
}

.home-pages{
    padding-right: 30%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}