@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.sidebar{
    position: fixed;
    width: 15%;
    height: 100%;
    background: #1B1B1B;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar svg{
    position: absolute;
    top: 0;
    left: 0px;
}

.sidebar ul{
    margin-bottom: 50px;
}

.sidebar ul li{
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #8A8A8A;
}